<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <a href="/films/all"> Show all Films </a>
    <a href="/films/new"> Add new Film </a>
    <%= yield %>
  </body>
</html>
