<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/styles/style.css">
    <title></title>
  </head>
  <body>
    <br>
    <a href="/films/all" class="navbut"> Show all Films </a>
    <a href="/films/new" class="navbut"> Add new Film </a>
    <%= yield %>
  </body>
</html>
