<h1>Add new Director</h1>

<form method="post" action="/directors">
  <label for="name">Name: </label>
  <input id="name" type="text" name="name"/>

  <input type="submit" value="Add Director">
</form>
